<div class="row justify-content-center md-3">
    <div class="md-4 text-center">
        <h1>TODO CATEGORIES</h1>
        <p class="text-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni iusto explicabo eos odio corporis, repellendus enim eligendi ullam fugit commodi porro atque molestias earum ipsa ex itaque a numquam beatae?</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="" class="form-inline">
            <div class="col-md-10 form-group">
                <input type="text" placeholder="Add new categories here" name="categoryName" class="form-control-plaintext drop-shadow"/>
            </div>
            <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow"> Add </button>
        </form>
    </div>
</div>
<div class="row categories-list">

</div>